:root {
  --green-color: #1FAF9E;
  --light-green: #e7fffc;
  --blue-color: #21156f;
  --white-color: #FFFFFF;
  --alt-white: rgb(253, 253, 253);
  --text-color: #5E5E5E;
  --alt-color: #797979;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, "Source Serif 4", "Source Serif 4 Placeholder", serif;
  line-height: 1.75;
  color: black;
  background-color: var(--white-color);
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
img {
  width: 100%;
  object-fit: cover;
}
.hero-section {
  background-color: var(--green-color);
}
.container {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 10px;
  color: black;
  background-color: transparent;
  border: 1px solid var(--green-color);
  border-radius: 4px;
}