
  @media screen and (max-width: 1114px) {
    .hero-section .hero-info {
      bottom: -20rem;
    }
    main .about-section {
      margin-top: 25rem;
    }
    .about-section-1 {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
}
/* For iPads and Tablets- Portrait */
@media screen and (min-width: 435px ) and (max-width: 884px) {
.container {
    padding-left: var(--size-15);
    padding-right: var(--size-15);
  }
  [aria-controls="navDropdown"] {
    display: block;
  }
  [aria-expanded="false"] ~ .menu {
    display: none; 
  } 
  [aria-expanded="true"] ~ .menu {
    display: block;
    position: absolute;
    right: 0;
    top: var(--size-70);
    width: 100%;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
    box-shadow: 0px 0px var(--size-20) rgba(59, 56, 80, 0.1);
    text-align: right;
    margin-bottom: var(--size-10);
  }
  [aria-expanded="true"] ~ .menu .menu-list a {
    display: block;
    margin-right: var(--size-50);
    color: var(--font-color-dark);
  }
  main .hero-section,
  main .hero-section-1,
  main .hero-section-2  {
    display: flex;
    justify-content: center;
  }
  .hero-section .hero-info {
    max-width: 44.25rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero-info .hero-contact {
    flex: 1;
  }
  .hero-info .hero-contact .call-us,
  .hero-info .hero-contact .mail-us {
    padding: var(--size-10) var(--size-30);
    text-align: center;
  }
  main .about-section {
    margin-top: 25rem;
    flex-wrap: wrap;
  }
  .about-image h2 {
    text-align: center;
    margin-bottom: var(--size-30);
  }
  .about-image-wrapper .image-btn{
    right: -var(--size-80);
  }
  .about-section .about-info {
    max-width: 43.75rem;
  }
  main .why-us-section {
    margin-top: var(--size-50);
    margin-bottom: var(--size-150);
  }
  .why-us-section .why-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: var(--size-30);
    place-items: center;
  }
  #scrollUp {
    right: var(--size-50);
  }
}
@media screen and (max-width: 569px) {
  .contact-info, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {  
    margin: 0 auto;
  }
  .name, .email, textarea {
    width: 280px;
  } 
  .contact-info {
    margin-top: var(--size-60);
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}
/* For mobile phones- Portrait */
@media screen and (max-width: 430px) {
  .container {
    padding-left: var(--size-15);
    padding-right: var(--size-15);
  }
  [aria-controls="navDropdown"] {
    display: block;
  }
  [aria-expanded="false"] ~ .menu {
    display: none; 
  } 
  [aria-expanded="true"] ~ .menu {
    display: block;
    position: absolute;
    right: 0;
    top: var(--size-70);
    width: 100%;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
    box-shadow: 0px 0px var(--size-20) rgba(59, 56, 80, 0.1);
    text-align: right;
    margin-bottom: var(--size-10);
  }
  [aria-expanded="true"] ~ .menu .menu-list a {
    display: block;
    margin-right: var(--size-50);
    color: var(--font-color-dark);
  }
  .top .icon {
    margin-right: auto;
    font-size: var(--size-10);
  }
  .social li a {
    font-size: var(--size-10);
  }
  .navbar .brand img {
    width: var(--size-100);
  }
  main .hero-section,
  main .hero-section-1,
  main .hero-section-2  {
    display: flex;
    justify-content: center;
  }
  .hero-header-1 h1,
  .hero-header-1 p {
    text-align: center;
  }
  .hero-section .hero-info {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 25rem;
  }
  .hero-info .hero-contact {
    flex: 1;
  }
  .hero-info .hero-contact .call-us,
  .hero-info .hero-contact .mail-us {
    padding: var(--size-10) var(--size-20);
    text-align: center;
  }
  .call-us div, 
  .mail-us div {
    margin: auto;
    width: var(--size-40);
    height: var(--size-40);
    border-radius: 50%;
  }
  .call-us .call-us-icon img,
.mail-us .mail-us-icon img {
  color: var(--white-color);
  width: var(--size-40);
  height: var(--size-40);
}
.call-us h2, 
.mail-us h2 {
  font-size: var(--size-15);
  font-weight: 600;
  margin: 0;
}
  .call-us span, 
  .mail-us span {
  font-size: var(--size-10);
  font-weight: 600;
  }
  main .about-section,
  main .about-section-1 {
    justify-content: center;
    align-items: center;
  }
  main .about-section {
    flex-wrap: wrap;
    margin-top: 25rem;
  }
  main .about-section-1 {
    flex-wrap: wrap-reverse;
  }
  .about-image h2 {
    text-align: center;
    margin-bottom: var(--size-30);
  }
  .image .doctor-image {
    width: 18.75rem;
    height:15.625rem;
    margin-left: var(--size-50);
  }
  .image .medicine-image {
    left: var(--size-10);
    width: var(--size-150);
    height: var(--size-150);
  }
  .about-image-1 .doctor-image-1 {
    width: 18.75rem;
    height:15.625rem;
    margin-right: var(--size-50);
  }
  .about-image-1 .medicine-image-1 {
    width: var(--size-150);
    height: var(--size-150);
    bottom: var(--size-10);
  }
  .about-image-wrapper .image-btn{
    display: none;
  }
  .about-section .about-info,
  .about-section-1 .about-info-1  {
    padding: var(--size-30);
  }
  main .why-us-section {
    margin-top: var(--size-100);
  }
  .why-us-section .why-us-grid {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: var(--size-10);
  }
  .product-section .product-header {
    max-width: 37.5rem;
    margin: auto;
  }
  .product-header h2 {
    text-align: center;
  }
  .product-table .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: var(--size-10);
  }
  .product-grid .product-card {
    padding-top: var(--size-15);
    padding-bottom: var(--size-15);
  }
  main .product-slider {
    display: none;
  }
  .send-button {
    width: 99%;
  }
  #scrollUp {
    background-color: rgba(226,248,245,255);
    color: var(--white);
    font-size: var(--size-15);
    height: var(--size-40);
    width: var(--size-40);
    line-height: var(--size-40);
    position: fixed;
    bottom: var(--size-30);
    right: var(--size-10);
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    z-index: 100;
  }
}