
header {
  max-width: 75rem;
  width: 100%;
  display: block;
  position: fixed;
	z-index: 500;
	transition: ease-in-out 0.3s;
}
header .top {
  display: flex;
  align-items: center;
  background-color: var(--green-color);
  color: var(--white-color);
  height: var(--size-30);
}
.top .icon {
  margin-right: auto;
}
.icon i {
  width: var(--size-25);
}
.top .social {
  display: flex;
  gap: var(--size-30);
  align-items: center;
}
.social li a {
  display: flex;
  align-items: center;
  color: var(--white-color);
}
.social li a .social-icon {
  display: flex;
  background-color: var(--white-color);
  border-top-right-radius: var(--size-5);
  border-top-left-radius: var(--size-5);
  border-bottom-left-radius: var(--size-5);
  border-bottom-right-radius: var(--size-5);
  width: var(--size-20);
  height: var(--size-20);
  align-items: center;
  justify-content: center;
  margin-right: var(--size-10);
}
.social-icon i {
  color: var(--green-color);
  font-size: var(--size-15);
}
header .bottom {
  display: flex;
  align-items: center;
  padding-top: var(--size-10);
  padding-bottom: var(--size-10);
  background-color: var(--alt-white);
}
.bottom.sticky {
  background: var(--white);
  box-shadow: 0px 0px var(--size-20) rgba(48, 63, 100, 0.2);
}
.bottom.sticky .nav-toggler span,
.bottom.sticky .brand {
  color: var(--blue-color);
}
.bottom .nav-toggler {
  position: absolute;
  top: var(--size-40);
  right: 0;
  margin-right: var(--size-50);
  border: 1px solid transparent;
  background-color: transparent;
}
.nav-toggler span {
  font-size: var(--size-20);
  font-weight: 600;
  color: var(--blue-color);
  cursor: pointer;
  pointer-events: none;
}
.bottom .brand {
  margin-right: auto;
  font-size: var(--size-16);
}
.bottom .menu {
  display: flex;
  gap: var(--size-20);
  justify-content: center;
}
.menu .menu-list {
  text-transform: uppercase;
  font-family: "Hind", sans-serif;
  font-size: var(--size-14);
  line-height: 1.7;
}
[aria-controls="navDropdown"] {
  display: none;
}
main .hero-section {
  display: flex;
  width: 100%;
  height: 31.25rem;
  position: relative;
  background-color: var(--green-color);
  background: url('../img/image1.jpg');
  background-size: cover;
  background-position-y: 50%;
}
.hero-section::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(30deg,rgba(21,27,38,.8) 0,rgba(0,0,0,.2) 100%);
  backdrop-filter: 50%;
}
.hero-section .hero-header {
  max-width: 300px;
  width: 100%;
  position: relative;
  top: 220px;
  color: var(--white-color);
}
.hero-header h1 {
  font-size: var(--size-30);
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}
.hero-header p {
  font-size: var(--size-12);
  font-weight: 500;
  margin: 0;
}
.hero-section .hero-info {
  display: flex;
  position: absolute;
  bottom: -120px;
  gap: var(--size-30);
  max-width: 68.75rem;
  width: 100%;
}
.hero-info .hero-contact {
  display: flex;
  max-width: 37.5rem;
  width: 100%;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: var(--size-10);
}
.hero-info .hero-contact .call-us,
.hero-info .hero-contact .mail-us {
  padding: var(--size-15) var(--size-50);
  text-align: center;
}
.call-us div, 
.mail-us div {
  margin: auto;
  width: var(--size-40);
  height: var(--size-40);
  border-radius: 50%;
}
.call-us .call-us-icon img,
.mail-us .mail-us-icon img {
  color: var(--white-color);
}
.call-us h2, 
.mail-us h2 {
  font-size: var(--size-16);
  font-weight: 600;
  margin: 0;
}
.call-us p, 
.mail-us p {
  font-size: var(--size-12);
  margin: 0px 0px var(--size-5) 0px;
}
.hero-contact .mail-us {
  border-left: 1px solid var(--white-color);
}
.call-us span, 
.mail-us span {
  font-size: var(--size-15);
  font-weight: 600;
}
.hero-info .hero-franchise {
  max-width: 400px;
  width: 100%;
  padding: var(--size-15) var(--size-30);
  background-color: var(--alt-white);
  border-radius: var(--size-10);
  box-shadow: var(--size-10) var(--size-10) var(--size-10) rgba(153, 151, 151, 0.2);
}
.hero-franchise h2 {
  font-size: var(--size-18);
  color: var(--blue-color);
  margin-top: 0;
  margin-bottom: 0;
}
.hero-franchise p {
  font-size: var(--size-14);
  color: var(--text-color);
  margin: 0px 0px var(--size-10) 0px;
}
.hero-franchise .franchise-btn {
  color: var(--green-color);
}
.franchise-btn i {
  margin-left: var(--size-10);
}
main .about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-20);
  margin-top: 300px;
  margin-bottom: var(--size-50);
}
.about-section .about-image  {
  display: block;
}
.about-image h2 {
  color: var(--blue-color);
  font-size: var(--size-30);
  padding: var(--size-10);
}
.about-image .about-image-wrapper {
  position: relative; 
}
.about-image-wrapper .image {
  position: inherit;
}
.image .doctor-image {
  position: inherit;
  background: url('../img/image2.jpg');
  background-size: cover;
  background-position-x: 30% ;
  margin-left: var(--size-150);
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 30%;
  width: 400px;
  height:350px;
}
.image .doctor-image::before {
  background-color: rgba(153, 151, 151, 0.1);
  position: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 30%;
}
.image .medicine-image {
  background-image: url('../img/pill-1884775_1280.jpg');
  background-size: cover;
  background-position-x: 40%;
  background-position-y: 50%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 30%;
  position: absolute;
  top: 120px;
  left: var(--size-20);
  width: 200px;
  height: 200px;
}
.about-image-wrapper .image-btn{
  display: flex;
  gap: var(--size-20);
  position: absolute;
  bottom: var(--size-40);
  right: -160px;
  z-index: 100;
}
.image-btn .green {
  background-color: var(--green-color);
  color: var(--white-color);
  padding-left: var(--size-15);
  padding-right: var(--size-15);
  font-size: var(--size-14);
}
.image-btn .transparent {
  padding-left: var(--size-15);
  padding-right: var(--size-15);
  font-size: var(--size-14)
}
.transparent i {
  margin-right: var(--size-5);
}
.about-section .about-info {
  max-width: 37.5rem;
  padding: var(--size-50);
  position: relative;
}
.about-info h3 {
  font-size: var(--size-18);
  color: var(--blue-color);
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0;
}
.about-info p {
  font-size: var(--size-14);
  color: var(--text-color);
  margin-bottom: var(--size-5);
}
main .why-us-section {
  margin-top: 200px;
  margin-bottom: var(--size-150);
}
.why-us-header h2 {
  font-size: var(--size-30);
  font-weight: 600;
  font-style: normal;
  color: var(--blue-color);
  text-align: center;
  margin-bottom: var(--size-50);
}
.why-us-section .why-us-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--size-30);
}
.why-us-grid .card {
  padding: var(--size-10) var(--size-20);
  background-color: rgba(226,248,245,255);
  border-radius: var(--size-10);
  box-shadow: var(--size-10) var(--size-10) var(--size-10) rgba(153, 151, 151, 0.2);
}
.card .image {
  width: var(--size-60);
  height: var(--size-60);
  float: left;
  margin-right: var(--size-15);
}
.card h3 {
  font-size: var(--size-15);
}
.card p {
  font-size: var(--size-14);
  color: var(--text-color);
  margin: 0px 0px var(--size-10) 0px;
}
main .product-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--size-150);
  margin-bottom: var(--size-100);
}
.product-section .product-header {
  max-width: 37.5rem;
  margin: auto;
}
.product-header h2 {
  font-size: var(--size-30);
  color: var(--blue-color);
  font-weight: 600;
}
.product-header p {
  font-size: var(--size-14);
  text-align: center;
  color: var(--text-color);
}
.product-section .product-table {
  margin-top: var(--size-100);
}
.product-table .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: var(--size-15);
  row-gap: var(--size-10);
}
.product-grid .product-card {
  padding-top: var(--size-20);
  padding-bottom: var(--size-20);
  border: 1px solid #dedede;
}
.product-grid .product-card:hover {
  border: 3px dashed var(--green-color);
}
.product-grid .product-card.first {
  padding-top: 130px;
  grid-column: 1/3;
  grid-row: 1/3;
}
.product-card .card-image {
  margin-bottom: var(--size-15);
}
.product-card .card-details {
  text-align: center;
  margin-bottom: var(--size-10);
}
.card-details .rating i {
  width: var(--size-12);
  display: inline-block;
}
.card-details.first .rating i {
  width: var(--size-15);
}
.card-details .product-name {
  font-size: var(--size-15);
}
.card-details.first .product-name {
  font-size: var(--size-25);
}
.card-details .product-price{
  font-size: var(--size-16);
  color: var(--green-color);
  margin-top: 3px;
  margin-bottom: 5px;
}
.card-details.first .product-price {
  font-size: var(--size-20);
}
.card-details a {
  font-size: var(--size-12);
  background-color: var(--green-color);
  color: var(--white-color);
}
.card-details.first a {
  font-size: var(--size-15);
}
main .product-slider {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.product-slider .slider {
  display: inline-block;
  animation: slider 10s linear infinite;
}
.slider img {
  width: 300px;
  margin: 0 40px;
}

@keyframes slider {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(-100%);
    } 
}

  
main .testimonials {
  margin-top: var(--size-150);
	margin-bottom: var(--size-100);
}
.testimonials .testimonial-header {
	text-align: center;
	margin: var(--size-80) 0;
}
.testimonial-header h2 {
  font-size: var(--size-30);
  font-weight: 600;
  color: var(--blue-color);
}
.testimonials .testimonial-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: var(--size-20);
  row-gap: var(--size-10);
}
.testimonial-grid .testimonial-card {
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: var(--size-30);
}
.testimonial-card .top {
  display: flex;
	align-items: center;
	padding-bottom: var(--size-10);
}
.top img {
  width: var(--size-70);
  height: var(--size-70);
  border-radius: 50%;
  margin-right: var(--size-20);
}
.top .top-info {
  display: block;
}
.top-info h4 {
  margin-top: 0;
  margin-bottom: var(--size-10);
  font-size: var(--size-14);
}
.top-info span {
  color: var(--text-color);
}
.testimonial-card .bottom {
  display: block;
}
.bottom p {
  margin: var(--size-5);
  font-size: var(--size-16);
  line-height: 1.6;
  color: var(--text-color);
}
.bottom .quote {
  width: var(--size-80);
  float: right;
  margin-top: var(--size-16);
}
.testimonial-card.lg {
  grid-row: 1/3;
  grid-column: 1/2;
}
.testimonial-card.lg img {
  width: var(--size-80);
  height: var(--size-80);
}
.testimonial-card.md p {
  font-size: var(--size-14);
}
@media screen and (min-width: 786px) {
  .testimonial-grid {
    max-width: 720px;
    margin: 0 auto;
  }

}
main .ask-questions {
  background-color: rgba(231,255,252,255);
  margin-top: var(--size-150);
  padding: var(--size-50);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ask-questions::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(30deg,rgba(100, 104, 110, 0.1) 0,rgba(231, 231, 231, 0.1) 100%);
  backdrop-filter:50%;
  height: 100%;
}
.ask-questions .ask-question-content {
  max-width: 37.5rem;
}
.ask-question-content h2 {
  text-align: center;
  font-size: var(--size-35);
  line-height: 1.3;
  color: var(--blue-color);
  margin-bottom: var(--size-10);
}
.ask-question-content p {
  text-align: center;
  font-size: var(--size-16);
  color: var(--text-color);
}
.ask-question-content .ask-question-btn-wrapper {
  display: flex;
  justify-content: center;
  padding: var(--size-20);
}
.ask-question-btn-wrapper .ask-button {
  font-size: var(--size-15);
  color: var(--alt-white);
  border: 1px solid var(--green-color);
  padding: var(--size-15) var(--size-30);
  background-color: var(--green-color);
  z-index: 100;
}
footer .footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-30);
  padding: var(--size-50);
  background-color: var(--green-color);
  color: var(--white-color);
  font-size: var(--size-16);
}
.footer-top .info {
  max-width: 400px;
}
.info .address {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.address li {
  font-size: var(--size-14);
  margin-top: var(--size-5);
}
.address .office span,
.address .phone span {
  font-size: var(--size-15);
  font-weight: 600;
}
.info .social {
  display: flex;
  align-items: center;
  gap: var(--size-10);
  font-size: var(--size-20);
  margin-top: 0;
  margin-bottom: 0;
  border-radius: var(--size-10);
}
.footer-top .link ul,
.footer-top .support ul,
.footer-top .services ul {
  margin-top: var(--size-5);
}
.link ul li a {
  color: var(--white-color);
}
.link ul li a i{
  margin-right: var(--size-10);
}
footer .footer-copyright {
  background-color: var(--green-color);
  color: var(--white-color);
  font-size: var(--size-14);
  font-weight: 600;
  text-align: center;
  padding: var(--size-10);
  border-top: 2px solid var(--white-color);
}
#scrollUp {
  background-color: rgba(226,248,245,255);
  color: var(--white);
  font-size: var(--size-15);
  height: var(--size-40);
  width: var(--size-40);
  line-height: var(--size-40);
  position: fixed;
  bottom: var(--size-30);
  right: var(--size-50);
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  z-index: 100;
}