
header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  z-index: 100;
  margin: 0;
}
header .top {
  display: flex;
  align-items: center;
  background-color: var(--green-color);
  color: var(--white-color);
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
}
.top .icon {
  margin-right: auto;
}
.icon i {
  width: 25px;
}
.top .social {
  display: flex;
  gap: 30px;
  align-items: center;
}
.social li a {
  display: flex;
  align-items: center;
  color: var(--white-color);
}
.social li a .social-icon {
  display: flex;
  background-color: var(--white-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.social-icon i {
  color: var(--green-color);
  font-size: 15px;
}
header .bottom {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;
  background-color: var(--alt-white);
}
.bottom .brand {
  margin-right: auto;
  color: var(--green-color);
  font-size: 20px;
  font-weight: bolder;
}
.bottom [aria-expanded="false"] {
  display: none;
}
.bottom .menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
main .hero-section {
  display: flex;
  flex-direction: column;
  height: 500px;
  position: relative;
  background-color: var(--green-color);
  background: url('../img/image1.jpg');
  background-size: cover;
  background-position-y: 50%;
}
.hero-section::before {
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(30deg,rgba(21,27,38,.8) 0,rgba(0,0,0,.2) 100%);
  backdrop-filter: 50%;
}
.hero-section .hero-header {
  max-width: 300px;
  position: relative;
  top: 220px;
  color: var(--white-color);
}
.hero-header h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}
.hero-header p {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
.hero-section .hero-info {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 435px;
  gap: 30px;
}
.hero-info .hero-contact {
  display: flex;
  max-width: 600px;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 10px;
}
.hero-info .hero-contact .call-us,
.hero-info .hero-contact .mail-us {
  padding: 15px 50px;
  text-align: center;
}
.call-us div, 
.mail-us div {
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.call-us .call-us-icon img,
.mail-us .mail-us-icon img {
  color: var(--white-color);
}
.call-us h2, 
.mail-us h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.call-us p, 
.mail-us p {
  font-size: 12px;
  margin: 0px 0px 5px 0px;
}
.hero-contact .mail-us {
  border-left: 1px solid var(--white-color);
}
.call-us span, 
.mail-us span {
  font-size: 15px;
  font-weight: 600;
}
.hero-info .hero-franchise {
  max-width: 400px;
  padding: 15px 30px;
  background-color: var(--alt-white);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(153, 151, 151, 0.2);
}
.hero-franchise h2 {
  font-size: 18px;
  color: var(--blue-color);
  margin-top: 0;
  margin-bottom: 0;
}
.hero-franchise p {
  font-size: 14px;
  color: var(--text-color);
  margin: 0px 0px 10px 0px;
}
.hero-franchise .franchise-btn {
  color: var(--green-color);
}
.franchise-btn i {
  margin-left: 10px;
}
main .about-section {
  display: flex;
  gap: 30px;
  margin-top: 300px;
  margin-bottom: 50px;
}
.about-section .about-image  {
  position: relative; 
}
.about-image h2 {
  color: var(--blue-color);
  font-size: 30px;
}
.about-image .doctor-image {
  background: url('../img/image2.jpg');
  background-size: cover;
  background-position-x: 30% ;
  margin-left: 150px;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 30%;
  width: 400px;
  height:350px;
  position: relative;
}
.about-image .doctor-image::before {
  background-color: rgba(153, 151, 151, 0.1);
  position:absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 30%;
}
.about-image .medicine-image {
  background-image: url('../img/pill-1884775_1280.jpg');
  background-size: cover;
  background-position-x: 40%;
  background-position-y: 50%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 30%;
  position: absolute;
  top: 210px;
  left: 20px;
  width: 200px;
  height: 200px;
}
.about-section .about-info {
  max-width: 600px;
  padding: 50px;
  position: relative;
}
.about-info h3 {
  font-size: 18px;
  color: var(--blue-color);
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0;
}
.about-info p {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 5px;
}
.about-info .about-info-btn{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  left: -130px;
}
.about-info-btn .green {
  background-color: var(--green-color);
  color: var(--white-color);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}
.about-info-btn .transparent {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px
}
.transparent i {
  margin-right: 5px;
}
main .why-us-section {
  margin-top:200px;
  margin-bottom: 150px;
}
.why-us-header h2 {
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: var(--blue-color);
  text-align: center;
  margin-bottom: 50px;
}
.why-us-section .why-us-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.why-us-grid .card {
  padding: 10px 20px;
  background-color: rgba(226,248,245,255);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(153, 151, 151, 0.2);
}
.card .image {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 15px;
}
.card h3 {
  font-size: 15px;
}
.card p {
  font-size: 14px;
  color: var(--text-color);
  margin: 0px 0px 10px 0px;
}
main .product-section {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-section .product-header {
  max-width: 600px;
  margin: auto;
}
.product-header h2 {
  font-size: 30px;
  color: var(--blue-color);
  font-weight: 600;
}
.product-header p {
  font-size: 14px;
  text-align: center;
  color: var(--text-color);
}
.product-section .product-table {
  margin-top: 100px;
}
.product-table .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 15px;
  row-gap: 10px;
}
.product-grid .product-card {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dedede;
}
.product-grid .product-card:hover {
  border: 3px dashed var(--green-color);
}
.product-grid .product-card.disable {
  display: none;
}
.product-grid .product-card.first {
  padding-top: 130px;
  grid-column: 1/3;
  grid-row: 1/3;
}
.product-card .card-image {
  margin-bottom: 15px;
}
.product-card .card-details {
  text-align: center;
  margin-bottom: 10px;
}
.card-details .rating i {
  width: 12px;
  display: inline-block;
}
.card-details.first .rating i {
  width: 15px;
}
.card-details .product-name {
  font-size: 15px;
}
.card-details.first .product-name {
  font-size: 25px;
}
.card-details .product-price{
  font-size: 16px;
  color: var(--green-color);
  margin-top: 3px;
}
.card-details.first .product-price {
  font-size: 20px;
}
.card-details a {
  font-size: 12px;
  background-color: var(--green-color);
  color: var(--white-color);
}
.card-details.first a {
  font-size: 15px;
}
main .product-slider {
  display: block;
}
.product-slider .slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
main .testimonials {
  margin-top: 150px;
	margin-bottom: 100px;
}
.testimonials .testimonial-header {
	text-align: center;
	margin: 80px 0;
}
.testimonial-header h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--blue-color);
}
.testimonials .testimonial-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 20px;
  row-gap: 10px;
}
.testimonial-grid .testimonial-card {
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 30px;
}
.testimonial-card .top {
  display: flex;
	align-items: center;
	padding-bottom: 10px;
}
.top img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
.top .top-info {
  display: block;
}
.top-info h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.top-info span {
  color: var(--text-color);
}
.testimonial-card .bottom {
  display: block;
}
.bottom p {
  margin: 5px;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
}
.bottom .quote {
  width: 80px;
  float: right;
  margin-top: 16px;
}
.testimonial-card.lg {
  grid-row: 1/3;
  grid-column: 1/2;
}
.testimonial-card.lg img {
  width: 80px;
  height: 80px;
}
.testimonial-card.md p {
  font-size: 14px;
}
main .ask-questions {
  background-color: rgba(231,255,252,255);
  margin-top: 150px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ask-questions::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(30deg,rgba(100, 104, 110, 0.1) 0,rgba(231, 231, 231, 0.1) 100%);
  backdrop-filter:50%;
  height: 100%;
}
.ask-questions .ask-question-content {
  max-width: 600px;
}
.ask-question-content h2 {
  text-align: center;
  font-size: 35px;
  line-height: 1.3;
  color: var(--blue-color);
  margin-bottom: 10px;
}
.ask-question-content p {
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}
.ask-question-content .ask-question-btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.ask-question-btn-wrapper a {
  font-size: 18px;
  color: var(--alt-white);
  border: 1px solid var(--green-color);
  padding: 15px 30px;
  background-color: var(--green-color);
}
footer .footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  background-color: var(--green-color);
  color: var(--white-color);
  font-size: 16px;
}
.footer-top .info {
  max-width: 400px;
}
.info .address {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.address li {
  font-size: 14px;
  margin-top: 5px;
  /* margin-bottom: 5px; */
}
.address .office span,
.address .phone span {
  font-size: 15px;
  font-weight: 600;
}
.info .social {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 10px;
}
.footer-top .link ul,
.footer-top .support ul,
.footer-top .services ul {
  margin-top: 5px;
}
.link ul li a {
  color: var(--white-color);
}
.link ul li a i{
  margin-right: 10px;
}
footer .footer-copyright {
  background-color: var(--green-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border-top: 2px solid var(--white-color);
}